<app-menu></app-menu>


<div class="title-cards">
  <h2>Productos Que Ofrecemos</h2>
</div>
<div class="container-card">

<div class="card">
<figure>
  <img src="../../../assets/login-rafiki.svg">
</figure>
<div class="contenido-card">
  <h3>Arquitectura Frontend</h3>
  <p>En las tradicionales arquitecturas monolíticas y frameworks de programación, el código tanto a nivel de aplicación como de la interfaz de usuario están altamente acoplados del lado del servidor, del lenguaje de programación y la infraestructura.</p>
  <a href="#">Leer Màs</a>
</div>
</div>
<div class="card">
<figure>
  <img src="../../../assets/api.svg">
</figure>
<div class="contenido-card">
  <h3>Productos de Integración</h3>
  <p>Desarrolle aplicaciones UI flexibles y livianas, desacoplando de la UI la lógica e inteligencia que no sea específica del Front-end hacia servicios externos que se conecten al backend o hacia servicios existentes en la nube vía APIs.</p>
  <a href="#">Leer Màs</a>
</div>
</div>
<div class="card">
<figure>
  <img src="../../../assets/security-rafiki.svg">
</figure>
<div class="contenido-card">
  <h3>Seguridad</h3>
  <p>La seguridad en las aplicaciones UI es un aspecto clave en el desarrollo de modernas UI y que generalmente los desarrolladores front-end suelen pasar por alto, dentro de las métricas a considerar desde el diseño hasta la implementación de la UI, está la capacidad para resistir ataques maliciosos.</p>
  <a href="#">Leer Màs</a>
</div>
</div>
</div>
<!--Fin   Tarjetas-->

<app-footer></app-footer>
